@media only screen and (max-width: 1080px)
	.is-sticky #header,.is-sticky #hornav
		position relative !important
		width auto !important
		top 0 !important
		left 0
		margin-left 0

@media only screen and (max-width: 1080px)
	.primary-container-background
		.primary-container
			width 100%
	.animated
		animation-duration 0
		animation-delay 0

@media only screen and (max-width: 441px)
	.services
		padding 0
		.textop
			margin-left 3em
			p
				&:before
					content "- "
		.service
			h2
				font-size 2em
				color #2b669a
				font-weight 700
			.circulo
				display none
				span
					height 40px
					transition 0.4s
					width 40px
					&.fa
						&.fa-star
							&:before
								top -6px
								position relative
								left 6px
@media only screen and (max-width: 767px)
	.carousel-control.right span, .carousel-control.icon-next span
		right 20%

@media only screen and (max-width: 767px)
	.carousel-control.left span, .carousel-control.icon-prev span
		left 15%

@media only screen and (max-width: 410px)
	.contenedor
		.circulo
			margin-right 1em
			transition .1s
			span
				height 40px
				transition 0.4s
				width 40px
				&.fa
					&.fa-star
						&:before
							top -15px
							position relative
							left 5px
